**/ansible.log
.idea
**/*.pyc
**/__pycache__
data/chemspace_2019_07_chunk01.smi
data/chemspace-*
tmp
.nextflow*
work
standardised-chemspace_bb
standardised-dsip
standardised-molport
nodes.csv
edges.csv
rejects.smi
fragmentinput.smi

