#
# Modules for running ansible and modules used in many playbooks
# Modules used in specific playbooks are installed at the point of use.
#
awscli == 1.34.16
ansible == 8.7.0
boto == 2.49.0
boto3 == 1.35.16
jmespath == 1.0.1
psycopg2-binary == 2.9.9