/*
 * Standardize molecules Nextflow process:
 * Purpose: Standardise molecules across a cluster.
 *
 * Author | Date    | Version
 * Tim    | 03/2020 | Initial Version
 * Duncan | 03/2020 | Updated for multiple input files and no gzip.
 *
 */

params.inputs = 'run/data/chemspace_bb/chemspace_bb.txt'
params.chunk_size = 15000
params.out_dir = '.'
params.script = 'frag.standardise.scripts.chemspace_bb.standardise_chemspace_bb_pricing_compounds'
params.compound_id_prefix = 'SDF'
params.compound_id_field = 'mr_id'

chunks = Channel
     .fromPath(params.inputs)
     .splitText(by: params.chunk_size, file: 'chunk_', keepHeader: true)

process standardise {

    container '{{ nextflow_container_registry }}/{{ nextflow_container_name }}:{{ nextflow_container_tag }}'

    input:
    file chunks

    output:
    file 'chunk_*.tab' into standardised

    """
    cp $chunks input.dat
    # Check if a compound_id_prefix has been set, if so - supply the prefix and id to the python script.
    if [ ${params.compound_id_prefix} != 'None' ]
    then
       python -m $params.script ./ input.dat ./output --prefix ${params.compound_id_prefix} --id-field ${params.compound_id_field}
    else
       python -m $params.script ./ input.dat ./output
    fi

    cp output/standardised-compounds.tab ./${chunks}_standardised.tab
    """

}

standardised.collectFile(name: "standardised-compounds.tab", storeDir: "${params.out_dir}", keepHeader: true)

