process {
    container = 'busybox:latest'
}

docker {
    enabled = true
    mountFlags = 'z'
    runOptions = '-u $(id -u):$(id -g)'
}

tower {
  accessToken = '74cbe919f9839da1cb752715689bf9bf5d10c98a'
  enabled = false
}

