[defaults]
inventory = inventory.yaml
localhost_warning = False
host_key_checking = False
interpreter_python = auto_silent
forks = 8
gathering = smart
log_path = ./ansible.log
nocows = 1
callback_whitelist = profile_tasks
retry_files_enabled = False

[ssh_connection]
pipelining = True
