process {
    executor = 'condor'
    container = 'busybox:latest'
}
singularity {
    enabled = true
    cacheDir = "{{ singularity_path }}/singularity-containers"
    autoMounts = true
}
executor {
    queueSize = {{ hardware[deployment].cluster_cores }}
}
