process {
    executor = 'condor'
    container = 'busybox:latest'
}
singularity {
    enabled = true
    cacheDir = "{{ runpath }}/singularity-containers"
    autoMounts = true
}
executor {
    queueSize = "{{ nextflow_queue_size }}"
}

tower {
  accessToken = '74cbe919f9839da1cb752715689bf9bf5d10c98a'
  enabled = true
}