/*
 * Extract Neo4j Molecule Inchi Edges Data SQL Statements:
 * Purpose: Extract Neo4j Molecule Inchi Edges data into CSV file on database server
 */

--
-- molecule-inchi-edges.csv
-- :START_ID(F2),:END_ID(INCHI),:TYPE
--  Link inchi-nodes to nonisomol-nodes, "HasInchi"
-- Note that this now uses the materialized view from f100_neo4j_nodes_extract
--

COPY (select np.smiles, inc1.inchik, 'HasInchi' as label
       from o_node_view np
       join inchi inc1 on inc1.id = np.inchi_id)
   TO '{{ MOLINCHIEDGEFILE }}' DELIMITER ',' CSV;
