/*
 * Extract Neo4j Molecule Inchi Edges Data SQL Statements:
 * Purpose: Extract Neo4j Molecule Inchi Edges data into CSV file on database server
 */

--
-- molecule-inchi-edges.csv
-- :START_ID(F2),:END_ID(INCHI),:TYPE
--- Link inchi-nodes to nonisomol-nodes, "HasInchi"
--
COPY (select np.smiles, np.inchi_id, 'HasInchi' as label
       from o_edge_parent os
       join pg_class p on os.tableoid = p.oid and p.relname in ({{ SOURCETABLES }})
       join nonisomol np ON np.id = os.parent_id
     union
     select nc.smiles, nc.inchi_id, 'HasInchi' as label
       from o_edge_parent os2
       join pg_class p on os2.tableoid = p.oid and p.relname in ({{ SOURCETABLES }})
       join nonisomol nc ON nc.id = os2.child_id and nc.child_count = 0)
   TO '{{ MOLINCHIEDGEFILE }}' DELIMITER ',' CSV;
