/*
 * Extract Neo4j Edge Data SQL Statements:
 * Purpose: Extract Neo4j Edge data into CSV file on database server
 */

--
-- Edges.csv
-- :START_ID(F2),:END_ID(F2),label,:TYPE
--

COPY (select distinct np.smiles, nc.smiles, ed.label, 'FRAG'
         From edge ed
        Join o_node_view ono on ono.nonisomol_id = ed.parent_id
        join nonisomol np ON np.id = ed.parent_id
        join nonisomol nc ON nc.id = ed.child_id)
  TO '{{  NEOEDGEFILE }}' DELIMITER ',' CSV;
