/*
 * Extract Neo4j Vendor specific supporting information for source id:
 * Purpose:
 *     Fills the following files with the relevant information from the database
 *     supmolsupedgefile: suppliermol-supplier-edges.csv
 *
 */

--
-- suppliermol-supplier-edges.csv
-- :START_ID(SM_MP),quantity,price_min,price_max,currency,lead_time,:END_ID(S),:TYPE
--
COPY (select code, p.quantity_mg, p.price_min,p.price_max, v.currency, ms.lead_time, v.supplier_node_name, 'Availability'
        from mol_source ms
        join nonisomol non on ms.nonisomol_id = non.id and non.child_count notnull
        join source s on s.id = ms.source_id
        join vendor_name v on s.name = v.vendor_name
        left join price p on molsource_id = ms.id
       where ms.source_id in ({{ SOURCEIDS }}))
          to '{{ SUPMOLSUPEDGEFILE }}' DELIMITER ',' CSV;
