/*
 * Extract Neo4j Inchi Data SQL Statements:
 * Purpose: Extract Neo4j Inchi into CSV file on database server
 */

--
-- inchi.csv
-- inchid:ID(INCHI),inchik,inchis,:LABEL
-- Inchis used by molecules for source + label "Inchi"
-- Note that this now uses the materialized view from f100_neo4j_nodes_extract
--

COPY (select inc1.inchik, inc1.inchis, 'Inchi' as label
       from o_node_view np
       join inchi inc1 on inc1.id = np.inchi_id group by 1,2)
   TO '{{ INCHIIDFILE }}' DELIMITER ',' CSV;
